.fab {
    color: white;
    margin:10px;
    padding: 15px;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    border: solid 1px;
}

.fa-twitter:hover {
  background: #55ACEE;
  color: white;
}

.fa-github:hover {
    background: black;
    color: white;
}

.fa-linkedin:hover {
    background: #0077B5;
    color: white;
}
