
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import
url('https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800');
@import
url('https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic');

// font-awesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Creative theme.
@import '~startbootstrap-creative/scss/creative';

@import 'social-icons';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#contact {
    p, a {
        font-family: "Open-Sans";
        color: white;
        font-size: 20px;
        font-weight: bold;
        text-shadow: 0 0 2px #000; /* horizontal-offset vertical-offset 'blur' colour */
        -moz-text-shadow: 0 0 2px #000;
        -webkit-text-shadow: 0 0 2px #000;
    }
}
